<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <a href="/" class="logo-link"><img src="/assets/img/w-digital.png" width="68px" alt="" class="logo"></a>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                        <!-- <a href="/about">About</a>
                                        <a href="/cv">CV</a> -->
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
        </header>    