.logo-link {
    background: none;
    &:hover { background: none; }
}

.logo.-animate {    
    &:hover {
        cursor: pointer;
    }
    animation: 
        rotateLogo 2s .3s alternate, 
        zoomIn .3s alternate;
}