:root {
    --purple: #e14594;
    --purple-dark: #7045af;
    --blue: #2b3595;
    --blue-dark: #182952;
    --body-color: white;
    --a-color: rgba(255, 255, 255, .83);
    --a-color-hover: rgba(255, 255, 255, .83);
    --header-bg-color: var(--blue);
    --welcome-bg-color: var(--blue);
}