---
name: frontpage
---
{% include header.html %}

    <div id="screen-loader" class="screen-loader">
        <img src="/assets/img/w-digital.png" alt="" class="loading-logo">
        <div class="loading-txt">
            w-digital.co
        </div>
    </div>

    <section class="main">
        {{ content }}
    </section>
    <aside class="sidebar">
        <h2>Playground</h2>
        <p>Experiments, plugins and articles related to front end development</p>
        <ul>
            <li><a href="/playground/animate-svg-menu">Animate SVG Menu</a></li>
        </ul>

        <h2>Resume</h2>
        <p>Find my resume <a href="/assets/pdf/WindoResume2018EN.pdf">Here</a>.</p>
    </aside>

{% include footer.html %}

